<h1>Listing all seeds</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Number of picks</th>
    <th>Seeder</th>
  </tr>

  <% @seeds.each do |seed| %>
    <tr>
      <td><%= seed.name %></td>
      <td><%= seed.description %></td>
      <td><%= seed.picks.length %></td>
      <td><%= seed.user.first_name %> <%= seed.user.last_name %></td>
      <td><%= link_to 'Show', seed_path(seed) %></td>
      <td><%= link_to 'Edit', edit_seed_path(seed) %></td>
      <td><%= link_to 'Delete', seed_path(seed),
                                 method: :delete,
                                 data: { confirm: 'Delete this seed?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Add a seed', new_seed_path %><br>
<%= link_to 'Back to landing page', root_path %>
